version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: container/Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - common_link
      - house_temperature_core_internal_link
    depends_on:
      - db

  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      house_temperature_core_internal_link:
        aliases:
          - house_temperature_core_db
    env_file:
      - .env

volumes:
  db_data:

networks:
  common_link:
    external: true
  house_temperature_core_internal_link:
    internal: true
